
html {
    background-color: darkgreen;
}

header {
    background-color: darkolivegreen;
    padding: 10px;
}

header pre {
    font-size: larger;
    color: aqua;
}

h3 {
    margin: 0px;
    padding: 0px;
}
li {
    font-size: larger;
}

/* Table area */
.area {
    padding-bottom: 10px;
}
.area.common, .area.player {
    position: relative; /*changing to absolute will overlay areas*/
    width: 100%;
    height: fit-content;
    display: flex; /*so that different sections layout in row*/
}

.area.playing{
    border: 1px solid rgb(101, 174, 101);
}

.table {
    position: relative;
    padding: 10px;
}

.table.cards {
    flex: 2;
}

.table.tokens {
    flex: 1;
}

.area.action {
    text-align: center;
}

/* Card Container */
.card {
    position: relative;
    width: 1.5in;
    height: 2in;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    display: inline-block;
    margin: 5px;
}

.flip {
    transform: rotateY(180deg);
}

.card div img {
    width: 1.5in;
}

/* Card Sides */
/* Default with front size face down*/
.front {
    position: absolute;
    backface-visibility: hidden; /*doesn't seem to affect appearance*/
    transform: rotateY(180deg);
}

.back {
    position: absolute;
    backface-visibility: hidden;
    
}

/*Button*/
button {
    margin: 20px 15px 0px 15px;
}

button.next{
    position: relative;
    left: 20px;
}

/*Tokens*/
.token{
    position: relative;
    width: 0.5in;
    display: inline-block;
    border: 3px solid transparent;
    padding: 3px;
    margin: 3px;
   transition: transform 1s ease;
}

.token.hidden {
    visibility: hidden;
}

.token.selected {
    border: 3px solid red;
}

/*Legend*/
.legend {
    display: flex;
    align-items: center;
}

.legend div{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    padding: 5px;
}

.legend div span {
    font-size: larger;
    padding-left: 5px;
}