.card div img {
    width: 1.5in;
}

.area#common, .area#player {
    position: relative; /*changing to absolute will overlay areas*/
    width: 100%;
    height: fit-content;
    display: flex; /*so that different sections layout in row*/
}

.table.cards {
    flex: 2;
}

.table.tokens {
    flex: 1;
}

/* Card Container */
.card {
    position: relative;
    width: 1.5in;
    height: 2in;
    transform-style: preserve-3d;
    transition: all 1s ease;
    display: inline-block;
    padding: 0px 5px 0px 5px;
}

.flip {
    transform: rotateY(180deg);
}

/* Card Sides */
/* Default with front size down*/
.front {
    position: absolute;
    backface-visibility: hidden; /*doesn't seem to affect appearance*/
    transform: rotateY(180deg);
}

.back {
    position: absolute;
    backface-visibility: hidden;
    
}

/*Button*/
button {
    margin-top: 20px;
}

/*Tokens*/
.token{
    width: 0.5in;
    display: inline-block;
    margin: 10px 5px 10px 5px;
    transition: all 1s ease;
}

.token.hidden {
    visibility: hidden;
}